doctype html
html
    head
        link(rel='stylesheet', href='./style.css')
        link(rel='stylesheet', href='https://cdn.jsdelivr.net/semantic-ui/2.2/semantic.min.css')
        script(src='https://cdn.jsdelivr.net/semantic-ui/2.2/semantic.min.js')
        script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js", integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN", crossorigin="anonymous")
        script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js", integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN", crossorigin="anonymous")

        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        
        title Surgetalk: Manage social conversations with your customers and fans
    body
        div#app
        script(src='./bundle.js')
            

            
                
        