doctype html
html
    head
        title = Instagram API
    body
        
            h1 Instagram Follow App
            h2 Find your future customers on instagram and grow your account organicaly by helping interested users discover your business.
            form(action="/register" method="post")
                label(for="email") Email: 
                input(id="email" type="text")
                label(for="password") Password:
                input(id="password" type="hidden")
                
                input(id="submit" type="submit" value="Register")
            
            
                
        