html
    head
        title Login to Surgetalk
        link(rel='stylesheet' href="//fonts.googleapis.com/css?family=Open+Sans")
        link(rel='stylesheet' href="/font-awesome-4.7.0/css/font-awesome.min.css")
        link(rel='stylesheet' href="/style.css")
        script(src='/main.js')
    body
        div.container
            section.top-container
                h2 Surgetalk
            section.main-container
                h5.message #{msg}
                div.form-container.lg-div
                    form(method='post' action='/register')
                        div.form-elem-container
                            i.fa.fa-user-o.white
                            input(type='text' id='name' name='name' placeholder='First Name') 
                        div.form-elem-container
                            i.fa.fa-user-o.white
                            input(type='text' id='email' name='email' placeholder='Email') 
                        div.form-elem-container
                            i.fa.fa-lock.white
                            input(type='password' id='password' name='password' placeholder='Password')
                        input(type='submit' value='Sign Up' id='submit-btn')
                    br
                    br
                    br
                    a.register(href='/login') Already have an account? Login here 
