/*LOGIN AND REGISTER*/
* {
    	font-family: "Open Sans";
}
body, html {
    width:100%;
    height:100%;
}
body {
    background:#ecf0f1
}
div.container {
    min-width: 1400px;
    width:100%;
    height:100%;
    padding:0px;
    margin:0px;
    border:0px;
}
section.top-container>h2 {
    color:#ECECEC;
    font-size: 24px;
    margin-left:10%;
    margin-top:1%;
}

section.main-container {
    width:100%;
    height:100%;
    text-align: center;
}
.lg-div {
    height:46%;
}
.sm-div {
    height:42%;
}
div.form-container {
    margin-top: 5%;
    display: inline-block;
    text-align: left;
    width:20%;
    /*background: rgba(108,122,137,.4);*/
    border:3px solid white;

    border-radius: 7px;
    text-align:center;
}

div.form-container form:first-child {
    position: relative;
    top:15%;
}
form>.form-elem-container {
    outline:0;
    display: inline-block;
    background: rgb(108,122,137);
    padding:4px;
    border-radius: 4px;
    width:70%;
}
.form-elem-container>input {
    
    outline:none;
    /*border-radius:4px;*/
    
    border-color: rgb(108,122,137);
    color:#ECECEC;
    border:0px;
    background: rgb(108,122,137);
    padding:3%;
    margin-left:4%;
}
.white {
    color:#ECECEC;
}
.form-elem-container>input:focus {
    background: rgb(108,122,137);
}
.form-elem-container>input::-webkit-input-placeholder {
color: white !important;
}
 
.form-elem-container>input:-moz-placeholder { /* Firefox 18- */
color: white !important;  
}
 
.form-elem-container>input::-moz-placeholder {  /* Firefox 19+ */
color: white !important;  
}
 
.form-elem-container>input:-ms-input-placeholder {  
color: white !important;  
}
#submit-btn {
    display:block;
    margin:5% auto;
    outline:0;
    padding:6px 30px 6px 30px;
    border-radius: 4px;
    border:0px;
    background: white;
    color: rgb(108,122,137);
    
}
#submit-btn:hover {
    cursor:pointer;
    background: rgb(108,122,137);
    color:white;
}
a.register {
    
    font-size:13px;
    color: white;
    text-decoration: underline;
}
h5.message {
    color:white;
}



/*******************************************/
/*********************** *******************/
/***********************  ******************/
/*******************   END   ***************/
/***********************  ******************/
/************************ ******************/
/*******************************************/

/** main app */

.full-height {
    height:100%;
}
.brand-title {
    font-size:22px;
    color:#ecf0f1;
    position: relative;
    top:7px;
    text-align: center;
}
 #app {
     height:100%;
     width:100%;
 }
 .side-bar-root {
     text-align: center;
     width:100%;
     height:40%;
 }
.root-container {
    width:100%;
    height:100%;
}
hr{
    border-color:#ecf0f1;
    border-width: 2px;
}
.side-nav-container {
    display:inline-block;
    background:#e74c3c;
    height:100%;
    width:6%;
    min-width:45px;
    max-width:90px;
}
.app-main-container {
    display:inline-block;
    width:94%;
    vertical-align: top;
}
.side-bar-box {
    width:100%;
    height:42px;
    margin:0px;
    padding:5px;
    position:relative;
    top:50px;
}
.side-bar-box i {
    text-align:center;
    color:#ECF0F1;
}
.side-bar-box:hover {
    cursor:pointer;
}
.side-bar-box.active  {
    background:#C0392B;
}

.red {
    color:#c0392b;
    
}
.top-down {
    position:relative;
    top:10px;
}
section.main-container {
    position:relative;
    top:25px;
}